* {
    box-sizing: border-box;
    padding: 0;
    margin:0
}
 
body {
    background-color: grey;
}
 header {
     padding:20px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-color: teal;
     color: white;
 }
header a:hover {
    background-color: #ddd;
    color: black;
}
 header h1 {
     display: inline-block;
     font-size: 50px;
 }

 nav {
     padding-top: 15px;
     margin-right: 20px;
     float: right;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 20px;
 }

 ul {
     list-style-type: none;
 }

 li {
     display: inline;
     margin-left: 25px;
 }

 a {
     color: white;
     text-decoration: underline;
 }
 .Pic img {
    display:block;
    padding: 10px 15px;
    max-height: 450px;
    max-width: 300px;
 }

 .content {
     width:95%;
     display:inline-block;
     margin-left: 20px;
     font-size: 24px;
 }
   h2:hover{
    background-color: #ddd;
    color: black;
 }
 .float-right {
    float: right;
    margin-right: 25px;
}
.About-Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgray;
    color: black;
}
 .About-Me img {
     max-height:  200px;
 }
 .Work-Experiences {
     background-color: lightsteelblue;
 }
 .card-1,.card {
    box-shadow: inset 0px 0px 88px var(--heliotrope), 0 0 150px var(--heliotrope);
 }
 .card {
     flex: 1 0 0;
     padding: 10px;
     border-style: solid;
     border-width: 1px;
 }
 .card-1 img {
     width: 100%;
     height: 200%;
 }

.card img {
    width: 100%;
    max-width: 400px;
}
.Contact-me{
    text-decoration: underline;
    font-size: 30px;
}
footer {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: blanchedalmond;
    font-size: 25px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    nav,main {
        flex-direction: column;
    }

    section {
        padding-right: 0;
    }
   p {
       font-size: 5px;
   }

}