/*  box-sizing, padding and margin for full page */
* {
    box-sizing: border-box;
    padding: 0;
    margin:0
}
/* set body color */ 
body {
    background-color: grey;
}
/* set up the header with padding of 20px, specific font, backgroung color, and text color of white */
 header {
     padding:20px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-color: teal;
     color: white;
 }
 /* Highlight the header link when user click on it */
header a:hover {
    background-color: #ddd;
    color: black;
}

 header h1 {
     display: inline-block;
     font-size: 50px;
 }
/* Display Navigation bar inline with and to the right of brand name in header.
Change the font-size, and add specified padding and margin to navigation bar */
 nav {
     padding-top: 15px;
     margin-right: 20px;
     float: right;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 20px;
 }
/* show no marker for list litem in navigation bar */
 ul {
     list-style-type: none;
 }
/* Display navigation bar in one row */
 li {
     display: inline;
     margin-left: 25px;
 }
/* link show with underline and in white, while click */
 a {
     color: white;
     text-decoration: underline;
 }
 /* set up the image pictue of myself with paddiing of top-bottom 10px and right-left 15px
  and with maximum height and width of 450px and 300px */
 .Pic img {
    display:block;
    padding: 10px 15px;
    max-height: 450px;
    max-width: 300px;
 }
 /* Have conent section set up with width of 95% display block, margin left to 20px and font size to 24px */
 .content {
     width:95%;
     display:inline-block;
     margin-left: 20px;
     font-size: 24px;
 }
 /* set up header to background color white and text color to black, while clicked */
 h2:hover{
    background-color: #ddd;
    color: black;
 }
 /* float images to the right with right margin 25px */
 .float-right {
    float: right;
    margin-right: 25px;
}
/* set up about me section with marggin bottom 20px, padding of 50px, height of 300px, font , background color tp light gray, and text color black */
.About-Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:  'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: lightgray;
    color: black;
}
/* set up image of about me section to max height of 200px */
 .About-Me img {
     max-height:  200px;
 }
 /* set up back ground color to light gray to work experiences section */
 .Work-Experiences {
     background-color: lightgray;
 }
 
/* set up card section image to width 400px, height 400px, object fit to cover, border to 5px with solid black and opacity(blur image) o.5 */
 .card img {
     width: 400px ;
     height: 400px;
     object-fit: cover;
     border: 5px solid black;
     opacity: 0.5;
 }
/* set up the image to original clicked on image */
.card img:hover {
    opacity: 1.0;
}
/* set up card-1 section image to width 100% to height 50% and blur */
.card-1 img {
    width: 100%;
    height: 50%;
    opacity: 0.5;
}
/* set up the image to original clicked on image */
.card-1 img:hover {
    opacity: 1.0;
}
/* set up the title that written on card-1 image */
.card-1 h3 {
    position: absolute;
    background-color: honeydew;
    padding: 8px;
    bottom: 95px;
}
/* set up the title that written on card-1 image */
.card h3 {
    position: absolute;
    background-color: honeydew;
    padding: 8px;
}
/* set up heading*/
h4 {
    font-size: 30px;
}
/* set up the section of contact me */
.Contact-me{
    text-decoration: underline;
    font-size: 16px;
}
/* set up footer */
footer {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: blanchedalmond;
    font-size: 25px;
    text-align: center;
}
/* set up the screen when to smaller the screen to adjust */
@media  screen and (max-width: 968px) {
   body {
       background-color: green;
   }
   
    nav,main {
        flex-direction: column;
        display: inline;
    }

    section {
        padding-right: 0;
    } 
   p {
       font-size: 15px;
   } 
   .float-right {
       height:  60px;
   }
   
}     